.newsItem_style{
    width: 24rem;
     height: 32rem;
     background: linear-gradient(0deg, rgba(192,167,167,1) 0%, rgba(237,243,249,1) 65%);
     border: 1px solid c0a7a7;
     border-radius:10px;
     box-shadow: 3px 1px #c0a7a7;
}

.main_style{
    background: #eedbc5;
}